body {
    background-color: #F1DDBF;
    color: #525E75;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 80px;
}

/* Containers */

.container-fluid {
    padding: 2% 20%
}

/* Images */

.ball-img {
    border-radius: 100%;
    padding: 5%;
}